.App {
  font-family: sans-serif;
  text-align: center;
}
#body {
  height: 300px;
  width: 500px;
  border: 1px solid black;
  margin: auto;
  background-color: aqua;
}
#btn1 {
  height: 50px;
  width: 100px;
  background-color: yellow;
  border-radius: 15px;
  margin-left: 20px;
}
